.loading::after {
    top: 0;
}

body {
    transition: all .3s;
}

body::after {
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    top: -100vw;
    left: 0;
    background: #fff;
    transition: all .3s;
}

.btn-login {
    transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}

.btn-login:hover {
    transform: scale(1.09);
    -ms-transform: scale(1.09);
    -moz-transform: scale(1.09);
    -webkit-transform: scale(1.09);
    -o-transform: scale(1.09);
}