<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Electron App</title>
    <link rel="stylesheet" href="./bootstrap.min.css">
    <link rel="stylesheet" href="login.css">
    <link rel="stylesheet" href="registro_fallido.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="../olvidaste.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300&display=swap" rel="stylesheet">
  </head>
  <body class="programa_body">
    <center>  
    <div class="cuadrado_fail">    
        <p class="titulo_del_login">Registro Fallido</p>
        <p class="olvidaste_text">No Se Pudo Crear Tu Cuenta Correctamente, Porfavor Vuelve A Intentarlo</p>
        <img src="../../docs/warning_icon.svg" width="50px" height="50px" alt="">
        <div class="btn_volver">    
          <a href="../views/register.html">
            <button id="contact_register_btn2" type="button" value="register" >VOLVER A INTENTAR</button>
          </a>
      </div>
    </div>
  </center>
  </body>
</html>
